@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

tab-favicon {
  display: inline-block;
  font-size: var(--favicon-size);
  height: var(--favicon-size);
  margin-block: 0;
  margin-inline: 0;
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
  min-height: var(--favicon-size);
  min-width: var(--favicon-size);
  padding-block: 0;
  padding-inline: 0;
  position: relative;
  white-space: pre;
  width: var(--favicon-size);
  z-index: var(--tab-base-z-index);

  --favicon-base-z-index:            20;
  --favicon-preferred-image-z-index: 100;

  tab-item &,
  tab-item & * {
    vertical-align: baseline;
  }
  tab-item & * {
    position: relative;
    z-index: var(--favicon-base-z-index);
  }
}

.favicon-image {
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);

  /* https://searchfox.org/mozilla-central/rev/b7b6aa5e8ffc27bc70d4c129c95adc5921766b93/browser/themes/shared/tabbrowser/tabs.css#466-503 */
  :root.fade-out-pending-tabs tab-item-substance.pending &,
  :root.fade-out-discarded-tabs tab-item-substance:not(.pending).discarded & {
    filter: grayscale(100%);
    @media (prefers-color-scheme: dark) {
      filter: grayscale(100%) invert();
    }
    opacity: 0.5;
    transition-property: filter, opacity;
    transition-duration: 1s;
  }
  :root.fade-out-pending-tabs tab-item-substance:not(.pending) &,
  :root.fade-out-discarded-tabs tab-item-substance:not(.pending) & {
    transition: none;
  }
}

.favicon-builtin::before,
.favicon-sharing-state::before,
.favicon-sticky-state::after {
  -moz-context-properties: fill;
  background: url("/resources/icons/defaultFavicon.svg") no-repeat center / 100%;
  content: "";
  display: inline-block;
  fill: var(--tab-text);
  height: var(--svg-small-icon-size);
  line-height: 1;
  margin-block-start: calc((var(--favicon-size) - var(--svg-small-icon-size)) / 2);
  max-height: var(--favicon-size);
  max-width: var(--favicon-size);
  width: var(--svg-small-icon-size);
}
:root.simulate-svg-context-fill {
  .favicon-builtin::before,
  .favicon-sharing-state::before,
  .favicon-sticky-state::after {
    background: var(--tab-text);
    mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22M8.5 1a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15zm2.447 1.75a6.255 6.255 0 0 1 3.756 5.125l-2.229 0A9.426 9.426 0 0 0 10.54 2.75l.407 0zm-2.049 0a8.211 8.211 0 0 1 2.321 5.125l-5.438 0A8.211 8.211 0 0 1 8.102 2.75l.796 0zm-2.846 0 .408 0a9.434 9.434 0 0 0-1.934 5.125l-2.229 0A6.254 6.254 0 0 1 6.052 2.75zm0 11.5a6.252 6.252 0 0 1-3.755-5.125l2.229 0A9.426 9.426 0 0 0 6.46 14.25l-.408 0zm2.05 0a8.211 8.211 0 0 1-2.321-5.125l5.437 0a8.211 8.211 0 0 1-2.321 5.125l-.795 0zm2.846 0-.409 0a9.418 9.418 0 0 0 1.934-5.125l2.229 0a6.253 6.253 0 0 1-3.754 5.125z%22/%3E %3C/svg%3E") no-repeat center / 100%;
  }
}

tab-item-substance.group-tab .favicon-builtin::before {
  background: url("/resources/icons/folder.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance.group-tab .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22m13.995 14-10.99 0A2.007 2.007 0 0 1 1 11.995l0-8.99C1 1.899 1.899 1 3.005 1l2.958 0a2.01 2.01 0 0 1 1.47.641L8.693 3l5.302 0C15.101 3 16 3.899 16 5.005l0 6.99A2.007 2.007 0 0 1 13.995 14zM2.85 2.25l-.6.6 0 9.3.6.6 11.3 0 .6-.6 0-7.3-.6-.6-5.73 0-.458-.2-1.445-1.559a.758.758 0 0 0-.554-.241l-3.113 0z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}


tab-item-substance[data-current-uri^="chrome:"] .favicon-builtin::before {
  background: url("/resources/icons/defaultFavicon.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="chrome:"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22M8.5 1a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15zm2.447 1.75a6.255 6.255 0 0 1 3.756 5.125l-2.229 0A9.426 9.426 0 0 0 10.54 2.75l.407 0zm-2.049 0a8.211 8.211 0 0 1 2.321 5.125l-5.438 0A8.211 8.211 0 0 1 8.102 2.75l.796 0zm-2.846 0 .408 0a9.434 9.434 0 0 0-1.934 5.125l-2.229 0A6.254 6.254 0 0 1 6.052 2.75zm0 11.5a6.252 6.252 0 0 1-3.755-5.125l2.229 0A9.426 9.426 0 0 0 6.46 14.25l-.408 0zm2.05 0a8.211 8.211 0 0 1-2.321-5.125l5.437 0a8.211 8.211 0 0 1-2.321 5.125l-.795 0zm2.846 0-.409 0a9.418 9.418 0 0 0 1.934-5.125l2.229 0a6.253 6.253 0 0 1-3.754 5.125z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

/* Chrome internal pages (Blink browsers) */
tab-item-substance[data-current-uri^="chrome://extensions"] .favicon-builtin::before {
  background: url("/resources/icons/extensions.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="chrome://extensions"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22m13.375 16-9.75 0A1.626 1.626 0 0 1 2 14.375L2 11.5a.75.75 0 0 1 .75-.75l1.75 0c.689 0 1.25-.561 1.25-1.25S5.189 8.25 4.5 8.25l-1.75 0A.75.75 0 0 1 2 7.5l0-1.875C2 4.728 2.728 4 3.625 4L6 4l0-1.352C6 1.341 6.938.147 8.238.014A2.502 2.502 0 0 1 11 2.5L11 4l2.375 0C14.272 4 15 4.728 15 5.625l0 8.75c0 .897-.728 1.625-1.625 1.625zM3.25 12l0 2.15.6.6 9.3 0 .6-.6 0-8.3-.6-.6-2.65 0a.75.75 0 0 1-.75-.75l0-2c0-.689-.561-1.25-1.25-1.25s-1.25.561-1.25 1.25l0 2a.75.75 0 0 1-.75.75l-2.75 0-.5.6 0 1.15 1.103 0c1.308 0 2.502.939 2.634 2.24A2.503 2.503 0 0 1 4.5 12l-1.25 0z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="chrome://settings"] .favicon-builtin::before {
  background: url("/resources/icons/settings.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="chrome://settings"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22m8.628 16-1.25 0a1.632 1.632 0 0 1-1.562-1.177l-.406-1.414a5.939 5.939 0 0 1-.78-.466l-1.448.36a1.632 1.632 0 0 1-1.799-.765l-.625-1.082a1.633 1.633 0 0 1 .229-1.931l1.045-1.101A3.279 3.279 0 0 1 2 8c0-.153.014-.302.032-.45L.999 6.479a1.63 1.63 0 0 1-.238-1.94l.625-1.083a1.636 1.636 0 0 1 1.787-.768l1.477.355c.258-.179.51-.329.761-.452l.406-1.414A1.63 1.63 0 0 1 7.378 0l1.25 0c.714 0 1.354.478 1.559 1.163l.425 1.436c.242.121.484.266.739.444l1.478-.355a1.635 1.635 0 0 1 1.786.768l.625 1.083c.36.625.263 1.422-.237 1.941l-1.035 1.07c.018.148.032.297.032.45 0 .145-.014.285-.031.424l1.045 1.101c.492.519.586 1.312.229 1.931l-.625 1.083a1.63 1.63 0 0 1-1.8.764l-1.447-.36c-.259.182-.51.333-.759.458l-.425 1.437A1.638 1.638 0 0 1 8.628 16zm-4.016-4.341.528.109a4.72 4.72 0 0 0 1.032.615l.359.404.485 1.691c.046.16.194.271.36.271l1.25 0a.37.37 0 0 0 .359-.269l.506-1.707.355-.398c.324-.137.645-.33 1.01-.608l.529-.109 1.731.431a.378.378 0 0 0 .416-.176l.625-1.083a.378.378 0 0 0-.053-.446l-1.25-1.317-.167-.505.022-.174c.021-.127.041-.255.041-.388 0-.149-.021-.293-.042-.437l-.021-.15.171-.513 1.244-1.289a.378.378 0 0 0 .055-.448l-.625-1.082a.38.38 0 0 0-.412-.177l-1.758.422-.521-.108a4.7 4.7 0 0 0-.991-.594l-.356-.398-.506-1.707a.373.373 0 0 0-.36-.269l-1.25 0a.377.377 0 0 0-.36.271l-.486 1.691-.36.405a4.71 4.71 0 0 0-1.013.6l-.521.109-1.757-.422a.383.383 0 0 0-.413.177l-.625 1.083a.375.375 0 0 0 .055.447L3.142 6.9l.171.514-.021.15A2.981 2.981 0 0 0 3.25 8c0 .133.02.261.037.389l.022.174-.167.505-1.25 1.317a.38.38 0 0 0-.053.446l.625 1.083a.38.38 0 0 0 .415.176l1.733-.431z%22/%3E %3Cpath d=%22M8 6.25c.965 0 1.75.785 1.75 1.75S8.965 9.75 8 9.75 6.25 8.965 6.25 8 7.035 6.25 8 6.25M8 5a3 3 0 1 0 0 6 3 3 0 0 0 0-6z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:addons"] .favicon-builtin::before {
  background: url("/resources/icons/extensions.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:addons"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22m13.375 16-9.75 0A1.626 1.626 0 0 1 2 14.375L2 11.5a.75.75 0 0 1 .75-.75l1.75 0c.689 0 1.25-.561 1.25-1.25S5.189 8.25 4.5 8.25l-1.75 0A.75.75 0 0 1 2 7.5l0-1.875C2 4.728 2.728 4 3.625 4L6 4l0-1.352C6 1.341 6.938.147 8.238.014A2.502 2.502 0 0 1 11 2.5L11 4l2.375 0C14.272 4 15 4.728 15 5.625l0 8.75c0 .897-.728 1.625-1.625 1.625zM3.25 12l0 2.15.6.6 9.3 0 .6-.6 0-8.3-.6-.6-2.65 0a.75.75 0 0 1-.75-.75l0-2c0-.689-.561-1.25-1.25-1.25s-1.25.561-1.25 1.25l0 2a.75.75 0 0 1-.75.75l-2.75 0-.5.6 0 1.15 1.103 0c1.308 0 2.502.939 2.634 2.24A2.503 2.503 0 0 1 4.5 12l-1.25 0z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:debugging"] .favicon-builtin::before {
  background: url("/resources/icons/developer.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:debugging"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E %3Cpath fill=%22black%22 d=%22M14.555 3.2l-2.434 2.436a1.243 1.243 0 1 1-1.757-1.757L12.8 1.445A3.956 3.956 0 0 0 11 1a3.976 3.976 0 0 0-3.434 6.02l-6.273 6.273a1 1 0 1 0 1.414 1.414L8.98 8.434A3.96 3.96 0 0 0 11 9a4 4 0 0 0 4-4 3.956 3.956 0 0 0-.445-1.8z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:devtools-toolbox"] .favicon-builtin::before {
  background: url("/resources/icons/window.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:devtools-toolbox"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E %3Cpath fill=%22black%22 d=%22M13 1H3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h11a2 2 0 0 0 2-2V4a3 3 0 0 0-3-3zm1 11a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6h12zm0-7H2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:logins"] .favicon-builtin::before,
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:logins"] .favicon-builtin::before {
  background: url("/resources/icons/lockwise.svg") no-repeat center / 100%;
  mask: none;
}

tab-item-substance[data-current-uri^="about:performance"] .favicon-builtin::before,
tab-item-substance[data-current-uri^="about:processes"] .favicon-builtin::before {
  background: url("/resources/icons/performance.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:performance"] .favicon-builtin::before,
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:processes"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22%3E %3Cpath fill=%22black%22 d=%22M8 1a8 8 0 0 0-8 8 7.89 7.89 0 0 0 .78 3.43 1 1 0 0 0 .9.57.94.94 0 0 0 .43-.1 1 1 0 0 0 .47-1.33A6.07 6.07 0 0 1 2 9a6 6 0 0 1 12 0 5.93 5.93 0 0 1-.59 2.57 1 1 0 0 0 1.81.86A7.89 7.89 0 0 0 16 9a8 8 0 0 0-8-8z%22/%3E %3Cpath fill=%22black%22 d=%22M11.77 7.08a.5.5 0 0 0-.69.15L8.62 11.1A2.12 2.12 0 0 0 8 11a2 2 0 0 0 0 4 2.05 2.05 0 0 0 1.12-.34 2.31 2.31 0 0 0 .54-.54 2 2 0 0 0 0-2.24 2.31 2.31 0 0 0-.2-.24l2.46-3.87a.5.5 0 0 0-.15-.69z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:config"] .favicon-builtin::before,
tab-item-substance[data-current-uri^="about:preferences"] .favicon-builtin::before {
  background: url("/resources/icons/settings.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:config"] .favicon-builtin::before,
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:preferences"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22m8.628 16-1.25 0a1.632 1.632 0 0 1-1.562-1.177l-.406-1.414a5.939 5.939 0 0 1-.78-.466l-1.448.36a1.632 1.632 0 0 1-1.799-.765l-.625-1.082a1.633 1.633 0 0 1 .229-1.931l1.045-1.101A3.279 3.279 0 0 1 2 8c0-.153.014-.302.032-.45L.999 6.479a1.63 1.63 0 0 1-.238-1.94l.625-1.083a1.636 1.636 0 0 1 1.787-.768l1.477.355c.258-.179.51-.329.761-.452l.406-1.414A1.63 1.63 0 0 1 7.378 0l1.25 0c.714 0 1.354.478 1.559 1.163l.425 1.436c.242.121.484.266.739.444l1.478-.355a1.635 1.635 0 0 1 1.786.768l.625 1.083c.36.625.263 1.422-.237 1.941l-1.035 1.07c.018.148.032.297.032.45 0 .145-.014.285-.031.424l1.045 1.101c.492.519.586 1.312.229 1.931l-.625 1.083a1.63 1.63 0 0 1-1.8.764l-1.447-.36c-.259.182-.51.333-.759.458l-.425 1.437A1.638 1.638 0 0 1 8.628 16zm-4.016-4.341.528.109a4.72 4.72 0 0 0 1.032.615l.359.404.485 1.691c.046.16.194.271.36.271l1.25 0a.37.37 0 0 0 .359-.269l.506-1.707.355-.398c.324-.137.645-.33 1.01-.608l.529-.109 1.731.431a.378.378 0 0 0 .416-.176l.625-1.083a.378.378 0 0 0-.053-.446l-1.25-1.317-.167-.505.022-.174c.021-.127.041-.255.041-.388 0-.149-.021-.293-.042-.437l-.021-.15.171-.513 1.244-1.289a.378.378 0 0 0 .055-.448l-.625-1.082a.38.38 0 0 0-.412-.177l-1.758.422-.521-.108a4.7 4.7 0 0 0-.991-.594l-.356-.398-.506-1.707a.373.373 0 0 0-.36-.269l-1.25 0a.377.377 0 0 0-.36.271l-.486 1.691-.36.405a4.71 4.71 0 0 0-1.013.6l-.521.109-1.757-.422a.383.383 0 0 0-.413.177l-.625 1.083a.375.375 0 0 0 .055.447L3.142 6.9l.171.514-.021.15A2.981 2.981 0 0 0 3.25 8c0 .133.02.261.037.389l.022.174-.167.505-1.25 1.317a.38.38 0 0 0-.053.446l.625 1.083a.38.38 0 0 0 .415.176l1.733-.431z%22/%3E %3Cpath d=%22M8 6.25c.965 0 1.75.785 1.75 1.75S8.965 9.75 8 9.75 6.25 8.965 6.25 8 7.035 6.25 8 6.25M8 5a3 3 0 1 0 0 6 3 3 0 0 0 0-6z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:privatebrowsing"] .favicon-builtin::before,
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:privatebrowsing"] .favicon-builtin::before {
  background: url("/resources/icons/privatebrowsing-favicon.svg") no-repeat center / 100%;
  mask: none;
}

tab-item-substance[data-current-uri^="about:profiling"] .favicon-builtin::before {
  background: url("/resources/icons/profiler-stopwatch.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:profiling"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E %3Cpath fill=%22black%22 d=%22M10.85 6.85a.5.5 0 0 0-.7-.7l-2.5 2.5.7.7 2.5-2.5zM8 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM5 1a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1zM8 4a5 5 0 1 0 0 10A5 5 0 0 0 8 4zM1 9a7 7 0 1 1 14 0A7 7 0 0 1 1 9z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:protections"] .favicon-builtin::before {
  background: url("/resources/icons/dashboard.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:protections"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg data-name=%22icon%22 xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22black%22 d=%22M15 12H4a2 2 0 0 1-2-2V3a1 1 0 0 0-2 0v7a4 4 0 0 0 4 4h11a1 1 0 0 0 0-2z%22/%3E%3Cpath fill=%22black%22 d=%22M4 11a1 1 0 0 0 1-1V8a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1zM7 11a1 1 0 0 0 1-1V4a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1zM10 11a1 1 0 0 0 1-1V6a1 1 0 0 0-2 0v4a1 1 0 0 0 1 1zM13 11a1 1 0 0 0 1-1V7a1 1 0 0 0-2 0v3a1 1 0 0 0 1 1z%22/%3E%3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-uri^="about:robots"] .favicon-builtin::before,
:root.simulate-svg-context-fill tab-item-substance[data-current-uri^="about:robots"] .favicon-builtin::before {
  background: url("/resources/icons/robot.ico") no-repeat center / 100%;
  mask: none;
}

tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/blocked.svg"] .favicon-builtin::before {
  background: url("/resources/icons/blocked.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/blocked.svg"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22M8.6 1.1c-4.1 0-7.5 3.4-7.5 7.5s3.4 7.5 7.5 7.5 7.5-3.4 7.5-7.5-3.3-7.5-7.5-7.5zM12 8c.3 0 .6.3.6.6s-.3.6-.6.6l-6.8 0c-.3 0-.6-.3-.6-.6s.3-.6.6-.6L12 8z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/info.svg"] .favicon-builtin::before {
  background: url("/resources/icons/info.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/info.svg"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 width=%2216%22 height=%2216%22 fill=%22black%22 %3E %3Cpath d=%22M8.25 6.938a.625.625 0 0 0-1.25 0l0 4.438a.625.625 0 0 0 1.25-.001l0-4.437z%22/%3E %3Cpath d=%22m8 4-.75 0-.25.25L7 5l.25.25.75 0L8.25 5l0-.75z%22/%3E %3Cpath d=%22M7.625 1.75c3.446 0 6.25 2.804 6.25 6.25s-2.804 6.25-6.25 6.25-6.25-2.804-6.25-6.25 2.804-6.25 6.25-6.25m0-1.25a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15z%22/%3E %3C/svg%3E") no-repeat center / 100%;
}

tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/warning.svg"] .favicon-builtin::before {
  background: url("/resources/icons/warning.svg") no-repeat center / 100%;
}
:root.simulate-svg-context-fill tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/warning.svg"] .favicon-builtin::before {
  background: var(--tab-text);
  mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22black%22 d=%22M14.742 12.106L9.789 2.2a2 2 0 0 0-3.578 0l-4.953 9.91A2 2 0 0 0 3.047 15h9.905a2 2 0 0 0 1.79-2.894zM7 5a1 1 0 0 1 2 0v4a1 1 0 0 1-2 0zm1 8.25A1.25 1.25 0 1 1 9.25 12 1.25 1.25 0 0 1 8 13.25z%22%3E%3C/path%3E%3C/svg%3E") no-repeat center / 100%;
}


tab-item-substance.group-tab tab-favicon:not(.error) .favicon-image[src] {
  bottom: 0;
  inset-inline-end: 0;
  max-height: 10px;
  max-width: 10px;
  position: absolute;
  z-index: var(--favicon-preferred-image-z-index);
}


tab-favicon.error .favicon-image,
.favicon-image:not([src]),
tab-item-substance[data-current-uri^="chrome:"] .favicon-image,
tab-item-substance[data-current-uri^="about:addons"] .favicon-image,
tab-item-substance[data-current-uri^="about:config"] .favicon-image,
tab-item-substance[data-current-uri^="about:debugging"] .favicon-image,
tab-item-substance[data-current-uri^="about:devtools-toolbox"] .favicon-image,
tab-item-substance[data-current-uri^="about:logins"] .favicon-image,
tab-item-substance[data-current-uri^="about:performance"] .favicon-image,
tab-item-substance[data-current-uri^="about:preferences"] .favicon-image,
tab-item-substance[data-current-uri^="about:privatebrowsing"] .favicon-image,
tab-item-substance[data-current-uri^="about:processes"] .favicon-image,
tab-item-substance[data-current-uri^="about:profiling"] .favicon-image,
tab-item-substance[data-current-uri^="about:protections"] .favicon-image,
tab-item-substance[data-current-uri^="about:robots"] .favicon-image,
tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/blocked.svg"] .favicon-image,
tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/info.svg"] .favicon-image,
tab-item-substance[data-current-favicon-uri="chrome://global/skin/icons/warning.svg"] .favicon-image,
tab-item-substance:not(.group-tab
       ):not([data-current-uri^="chrome:"]
       ):not([data-current-uri^="about:addons"]
       ):not([data-current-uri^="about:config"]
       ):not([data-current-uri^="about:debugging"]
       ):not([data-current-uri^="about:logins"]
       ):not([data-current-uri^="about:devtools-toolbox"]
       ):not([data-current-uri^="about:performance"]
       ):not([data-current-uri^="about:preferences"]
       ):not([data-current-uri^="about:privatebrowsing"]
       ):not([data-current-uri^="about:processes"]
       ):not([data-current-uri^="about:profiling"]
       ):not([data-current-uri^="about:protections"]
       ):not([data-current-uri^="about:robots"]
       ):not([data-current-favicon-uri="chrome://global/skin/icons/blocked.svg"]
       ):not([data-current-favicon-uri="chrome://global/skin/icons/info.svg"]
       ):not([data-current-favicon-uri="chrome://global/skin/icons/warning.svg"])
  tab-favicon:not(.error) .favicon-image[src] ~ .favicon-builtin::before,
tab-item-substance.loading .favicon-image,
tab-item-substance.loading .favicon-builtin::before {
  display: none !important;
}


/* Sticky status */

.favicon-sticky-state {
  --svg-small-icon-size: 12px;
  inset-inline-start: calc(var(--svg-small-icon-size) - var(--favicon-size));
  position: absolute;
  top: calc(var(--svg-small-icon-size) - var(--favicon-size));

  &::before {
    background: var(--tab-text-inverted);
    border-radius: 150%;
    content: "";
    display: inline-block;
    height: var(--svg-small-icon-size);
    inset-inline-start: -10%;
    opacity: 0.75;
    position: absolute;
    top: 10%;
    transform: scale(1.3, 1.3);
    width: var(--svg-small-icon-size);
    z-index: 1;
  }

  tab-item-substance:not(.sticky) &,
  tab-item.pinned & {
    display: none;
  }

  tab-item-substance.sticky &::after {
    background-image: url("./icons/pin-12.svg");
    position: relative;
    z-index: 2;
  }
  :root.simulate-svg-context-fill tab-item-substance.sticky &::after {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%3Cpath fill=%22black%22 d=%22M10.53 9.47L8.25 7.19 9.8 5.643a.694.694 0 0 0 0-.98 3.04 3.04 0 0 0-2.161-.894h-.122A1.673 1.673 0 0 1 5.846 2.1v-.408A.693.693 0 0 0 4.664 1.2L1.2 4.664a.693.693 0 0 0 .49 1.182h.41a1.672 1.672 0 0 1 1.669 1.671v.117a2.8 2.8 0 0 0 .925 2.192.693.693 0 0 0 .949-.026L7.19 8.251l2.28 2.28a.75.75 0 0 0 1.06-1.061z%22/%3E%3C/svg%3E");
  }
}
