@charset "UTF-8";
/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --twisty-size: var(--favicon-size);
  --tab-twisty-offset: calc((var(--tab-ui-size) - var(--twisty-size)) / 2);
  --tab-twisty-negative-offset: calc((var(--twisty-size) - var(--tab-ui-size)) / 2);
}

tab-item tab-twisty {
  display: inline-flex;
  font-size: var(--twisty-size);
  /*height: var(--twisty-size);*/
  margin-block: var(--tab-twisty-negative-offset);
  margin-inline: 0;
  /*max-height: var(--twisty-size);*/
  max-width: var(--twisty-size);
  min-height: var(--twisty-size);
  min-width: var(--twisty-size);
  padding-block: var(--tab-twisty-offset);
  padding-inline: 0;
  position: relative;
  transform-origin: 50% 50%;
  white-space: pre;
  width: var(--twisty-size);
  z-index: var(--tab-ui-z-index);
}

tab-item.split-view {
  :root.regular & tab-item-substance.split-view-sub,
  /* We use the sub split view tab as the alias to the main split view, in the inverted mode. */
  :root.inverted & tab-item-substance.split-view-main {
    --twisty-size: 0.75em;

    tab-twisty {
      visibility: hidden !important;
      pointer-events: none !important;
    }
  }

  tab-item-substance.split-substances-container tab-twisty {
    display: none;
  }
}

tab-item:not([data-child-ids]),
tab-item.pinned,
tab-item.collapsed {
  tab-twisty {
    visibility: hidden !important;
    pointer-events: none !important;
  }
}

tab-item:not(.collapsed) {
  &.subtree-collapsed tab-twisty {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  &:not(.subtree-collapsed) tab-twisty {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  tab-twisty::before {
    -moz-context-properties: fill;
    background: url("./icons/ArrowheadDown.svg") no-repeat center / 60%;
    content: "";
    display: inline-block;
    fill: var(--tab-text);
    height: var(--svg-small-icon-size);
    line-height: 1;
    margin-block-start: calc((var(--twisty-size) - var(--svg-small-icon-size)) / 2);
    max-height: var(--twisty-size);
    max-width: var(--twisty-size);
    width: var(--svg-small-icon-size);
  }
  :root.simulate-svg-context-fill & tab-twisty::before {
    background: var(--tab-text);
    mask: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 16 16%22%3E%3Cpath fill=%22black%22 d=%22M8 12a1 1 0 0 1-.707-.293l-5-5a1 1 0 0 1 1.414-1.414L8 9.586l4.293-4.293a1 1 0 0 1 1.414 1.414l-5 5A1 1 0 0 1 8 12z%22%3E%3C/path%3E%3C/svg%3E") no-repeat center / 60%;
  }

  :root.animation & tab-twisty::before {
    transition: transform 0.2s ease-out,
                opacity 0.15s ease-out;
    transform: rotatez(0);
  }
  :root:not(.rtl).regular
    &.subtree-collapsed tab-twisty::before,
  :root.rtl.inverted
    &.subtree-collapsed tab-twisty::before {
    transform: rotatez(-90deg);
  }
  :root:not(.rtl).inverted
    &.subtree-collapsed tab-twisty::before,
  :root.rtl.regular
    &.subtree-collapsed tab-twisty::before {
    transform: rotatez(90deg);
  }
}
